mysql:
  container_name: "mysql"
  build: "./mysql"
  ports:
    - "3306:3306"
  volumes:
    - ./mysql/data:/var/lib/mysql
  env_file:
    - docker.env
php:
  container_name: "php"
  build: "./php"
  volumes:
    - ./../www:/var/www/
  env_file:
    - docker.env
  links:
    - mysql
web:
  build: "./nginx"
  container_name: "web"
  ports:
    - "80:80"
    - "443:443"
  volumes:
    - ./../www:/var/www/
    - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
  links:
    - php
    - mysql
dba:
  build: "./dba"
  container_name: "dba"
  ports:
    - "8080:80"
  links:
    - mysql
  env_file:
    - docker.env
